$fa-font-path: "/bower_components/font-awesome/fonts/";
@import 'font-awesome/scss/font-awesome';

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

html, body {
  height: 100%;
}

nav {
  &.navbar {
    border-radius: 0;
  }

  .about-link {
    font-size: 24px;
    margin: 10px 0;
  }
}

@import 'about';
@import 'schedules';
@import 'switches';
@import 'zones';