$fa-font-path: "/bower_components/font-awesome/fonts/";
@import 'font-awesome/scss/font-awesome';

$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

.header {
  .title {
    margin: 20px 0 40px 0;
    padding-top: 6px;
    display: block;
    text-decoration: none;
    cursor: pointer;

    i {
      font-size: 24px;
      margin-right: 8px;
      color: $gray-light;
    }
    
    h3 {
      display: inline;
    }
  }
}

@import 'about';
@import 'schedules';
@import 'switches';
