@import 'sass-bootstrap/lib/bootstrap';

.schedules {
  margin: 0 32px 0 0;

  .schedule {
    width: 300px;
    padding: 20px 10px 20px 10px;
    display: inline-block;

    &:hover {
      background: $gray-dark;
      .name {
        color: white;
      }
    }
  }
  .content {
    cursor: pointer;
    position: relative;

    i {
      position: absolute;
      top: 5px;
      font-size: 24px;
      color: $gray-lighter;
    }
    .name {
      color: $gray-lighter;
      margin-left: 32px;
    }
    .next {
      margin-left: 32px;
      font-size: 12px;
      color: $gray-light;
    }
  }
}


.add-schedule {
  position: absolute;
  padding: 16px 24px;
  top: 0;
  right: 0;
  font-size: 32px;
  background: none;
  color: $gray-light;

  &:hover {
    background: $gray-dark;
    color: $gray-lighter;
  }
}


.modal-body.schedule {
  select {
    width: 150px;
  }
}