.schedules {
  .schedule {
    position: relative;
    padding: 20px 10px 20px 10px;
    border-bottom: 1px solid $gray-light;

    &:hover {
      background: $gray-lighter;
    }
  }
  h4 {
    display: inline;
  }
  .next {
    margin-left: 12px;
    font-size: 12px;
    color: $gray-light;
  }
  .schedule-outlets {
    margin: 10px 0;
  }
  .schedule-outlet {
    display: inline;
  }
  .no-change {
    text-decoration: line-through;
    color: $gray-light;
  }
  .control {
    position: absolute;
    font-size: 24px;
    color: $gray-light;
  }
  .edit.control {
    top: 58px;
    right: 10px;
    &:hover {
      color: $brand-primary;
    }
  }
  .delete {
    top: 57px;
    right: 55px;
    &:hover {
      color: $brand-danger;
    }
  }
}


.modal-body.schedule {
  select {
    width: 150px;
  }
}