@import 'sass-bootstrap/lib/bootstrap';

.switches {
  text-align: center;
  display: table-cell;
  vertical-align: middle;

  .switch {
    display: inline-block;
    margin: 0 20px 20px 0;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  .name {
    font-size: 24px;
    display: block;
  }
  .pin {
    font-size: 12px;
    color: $gray-lighter;
  }
  .master {
    margin: 12px 0;
    font-size: 18px;
  }
}