<div class="modal-body">
  <div class="about">
    <div class="wordmark">
      <i class="fa fa-power-off"></i>
      <h1>LightControl</h1>
    </div>
    <div class="version">
      <div>UI version 2.0.0</div>
      <div>Server version <span class="major">{{version.major}}</span>.<span class="minor">{{version.minor}}</span>.<span class="patch">{{version.patch}}</span></div>
    </div>

    <p class="attribution">By Fullcourt Development, 2014.</p>
    <p>
      <a href="https://github.com/zourtney/lightcontrol" target="_blank">
        <i class="fa fa-github"></i> View on GitHub
      </a>
    </p>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="close()">Close</button>
</div>