<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#outlets">Outlets</a></li>
    <li><a ng-href="#schedules">Schedules</a></li>
    <li class="active"><a ng-href="#about">About</a></li>
  </ul>

  <a class="title" ng-href="/">
    <i class="fa fa-power-off"></i>
    <h3 class="text-muted">LightControl</h3>
  </a>
</div>

<div class="about hero-unit">
  <div class="wordmark">
    <i class="fa fa-power-off"></i>
    <h1>LightControl</h1>
  </div>
  <div class="version">
    <div>UI version 2.0.0</div>
    <div>Server version <span class="major">{{version.major}}</span>.<span class="minor">{{version.minor}}</span>.<span class="patch">{{version.patch}}</span></div>
  </div>

  <p class="attribution">By Fullcourt Development, 2014.</p>
  <p>
    <a class="btn btn-primary" href="https://bitbucket.com/zourtney/lightcontrol">
      <i class="fa fa-bitbucket"></i> LightControl on BitBucket
    </a>
  </p>
</div>