<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <!--<div class="navbar-header">-->
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand title" ng-href="/">
      <i class="fa fa-power-off"></i> LightControl
    </a>
  <!--</div>-->

  <lc-zone-select zones="zones" current-zone="currentZone" class="zone-select"></lc-zone-select>

  <a ng-href="#about" class="navbar-text navbar-right about-link">
    <i class="fa fa-question-circle"></i>
  </a>
</nav>

<div class="container">
  <!--<lc-zone-banner current-zone="currentZone"></lc-zone-banner>-->
  <lc-switch-list switches="switches"></lc-switch-list>
</div>

<div class="navbar navbar-inverse navbar-fixed-bottom">
  <lc-schedule-list schedules="schedules"></lc-schedule-list>

  <a class="add-schedule" ng-click="addSchedule()">
    <i class="fa fa-plus"></i>
  </a>
</div>