<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#outlets">Outlets</a></li>
    <li><a ng-href="#schedules">Schedules</a></li>
    <li><a ng-href="#about">About</a></li>
  </ul>

  <div class="title">
    <i class="fa fa-power-off"></i>
    <h3 class="text-muted">LightControl</h3>
  </div>
</div>

<div class="outlets">
  <button type="button" ng-repeat="outlet in outlets"
    class="outlet btn btn-lg" ng-class="outlet.value === 0 ? 'btn-primary' : ''"
    ng-click="toggleOutlet()"
  >
    <i class="fa fa-power-off"></i>
    <span class="name">{{outlet.id}}</span>
    <span class="pin">GPIO pin {{outlet.pin}}</span>
  </button>

  <div class="master">
    <a href="" ng-click="turnAllOutletsOn()">all on</a>
    <span class="muted-text">|</span>
    <a href="" ng-click="turnAllOutletsOff()">all off</a>
  </div>
</div>