<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#outlets">Outlets</a></li>
    <li class="active"><a ng-href="#schedules">Schedules</a></li>
    <li><a ng-href="#about">About</a></li>
  </ul>

  <div class="title">
    <i class="fa fa-power-off"></i>
    <h3 class="text-muted">LightControl</h3>
  </div>
</div>

<ul class="schedules list-unstyled">
  <li class="schedule" ng-repeat="schedule in schedules" ng-click="open()">
    <h4>{{schedule.name}}</h4>
    <span class="next">Next occurs: {{schedule.next}}</span>
    <div class="cron">{{schedule.cron}}</div>
    <ul class="schedule-outlets list-unstyled">
      <li class="schedule-outlet" ng-repeat="outlet in schedule.outlets">
        <button class="btn" ng-class="outlet.value === null ? 'btn-default no-change' : (outlet.value === 0 ? 'btn-primary' : '')">
          {{outlet.id}}
        </button>
      </li>
    </ul>
    <i class="delete control fa fa-trash-o"></i>
    <i class="edit control fa fa-edit"></i>
  </li>
</ul>