<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#switches">Switches</a></li>
    <li class="active"><a ng-href="#schedules">Schedules</a></li>
    <li><a ng-href="#about">About</a></li>
  </ul>

  <a class="title" ng-href="/">
    <i class="fa fa-power-off"></i>
    <h3 class="text-muted">LightControl</h3>
  </a>
</div>

<button class="btn btn-primary add-schedule" ng-click="add()">
  <i class="fa fa-plus"></i>
  Add schedule
</button>

<ul class="schedules list-unstyled">
  <li class="schedule" ng-repeat="schedule in schedules">
    <div class="content" ng-click="open()">
      <h4>{{schedule.name}}</h4>
      <span class="next">Next occurs: {{schedule.next}}</span>
      <div class="cron">{{schedule.cron}}</div>
      <ul class="schedule-switches list-unstyled">
        <li class="schedule-switch" ng-repeat="switch in schedule.switches">
          <button class="btn" ng-class="switch.value === null ? 'btn-default no-change' : (switch.value === 0 ? 'btn-success' : '')">
            {{switch.name}}
          </button>
        </li>
      </ul>
    </div>
    <div class="controls">
      <i class="delete control fa fa-trash-o" ng-click="delete()"></i>
      <i class="edit control fa fa-edit" ng-click="open()"></i>
    </div>
  </li>
</ul>