<!DOCTYPE html>
<head>
	<title>LightControl</title>
	<meta id="viewport" name="viewport" content="user-scalable=no, width=device-width, height=device-height" />
	<link href="http://bootswatch.com/cosmo/bootstrap.min.css" rel="stylesheet" />
	<link href="style.css" rel="stylesheet" />
</head>
<body>
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		var ON = 0,
		    OFF = 1;


		/*************************************************************************
		 *
		 * Outlets / switches
		 *
		 *************************************************************************/
		var Switches = function() {};

		Switches.prototype = {
			showStatus: function(e, value) {
				e.data('value', value);
				if (value === ON) {
					e.addClass('btn-success');
				}
				else {
					e.removeClass('btn-success');
				}
			},

			refresh: function() {
				// Initialize all lights
				var self = this;
				$.get('/outlets/', function(data) {
					for (var i = 0; i < data.length; i++) {
						self.showStatus($('.outlet[data-id="' + data[i].id + '"]'), data[i].value);
					}
				});
			},

			set: function(e, val) {
				var self = this;
				$.ajax({
					type: 'PUT',
					url: '/outlets/' + e.data('id') + '/',
					contentType: 'application/json',
					data: JSON.stringify({
						id: e.data('id'),
						value: val
					}),
					success: function(data) {
						self.showStatus(e, data.value);
					}
				});
			},

			setAll: function(val) {
				var self = this;
				$.ajax({
					type: 'PUT',
					url: '/outlets/',
					contentType: 'application/json',
					data: JSON.stringify([
						{id: '0', value: val},
						{id: '1', value: val},
						{id: '2', value: val},
						{id: '3', value: val}
					]),
					success: function(data) {
						for (var i = 0; i < data.length; i++) {
							self.showStatus($('.outlet[data-id="' + data[i].id + '"]'), data[i].value);
						}
					}
				});
			}
		};



		/*************************************************************************
		 *
		 * Schedules
		 *
		 *************************************************************************/
		var Schedules = function() {};

		Schedules.prototype = {
			getOutletString: function(s) {
				var outlets = '';
				for (var j in s.outlets) {
					outlets += j + '=' + (s.outlets[j].value === ON ? 'on' : 'off') + ';';
				}
				return outlets;
			},

			createModal: function(s, isNew) {
				var self = this,
						getOutletVal;
		  		
		  	getOutletVal = function(num) {
					if (s.outlets[num]) {
						return s.outlets[num].value;
					}
					return null;
				};

				// Change controls based on newness
				if (isNew) {
					$('.schedule-details [data-action="save-schedule"]').text('Create Job');
					$('.schedule-details [data-action="delete-schedule"]').prop('disabled', true);
				}
				else {
					$('.schedule-details [data-action="save-schedule"]').text('Save changes')
					$('.schedule-details [data-action="delete-schedule"]').prop('disabled', false);
				}
				
				// Update fields
				$('.modal-title').text('Editing ' + s.name);
		  	$('#schedule-name').val(s.name);
		  	$('#schedule-cron').val(s.cron);
		  	$('#schedule-enabled').prop('checked', s.enabled);
		  	$('#schedule-outlet-0').val(getOutletVal(0));
		  	$('#schedule-outlet-1').val(getOutletVal(1));
		  	$('#schedule-outlet-2').val(getOutletVal(2));
		  	$('#schedule-outlet-3').val(getOutletVal(3));

		  	// Bind to buttons
		  	$('.schedule-details [data-action="save-schedule"]').on('click', function() {
		  		$.ajax({
		  			type: isNew ? 'POST' : 'PUT',
		  			url: '/schedules/' + (isNew ? '' : s.name + '/'),
		  			contentType: 'application/json',
		  			data: JSON.stringify({
			  			name: $('#schedule-name').val(),
			  			cron: $('#schedule-cron').val(),
			  			enabled: $('#schedule-enabled').prop('checked'),
			  			outlets: {
			  				0: {value: $('#schedule-outlet-0').val() || null},
			  				1: {value: $('#schedule-outlet-1').val() || null},
			  				2: {value: $('#schedule-outlet-2').val() || null},
			  				3: {value: $('#schedule-outlet-3').val() || null}
			  			}
			  		}),
			  		success: function() {
			  			$('.schedule-details').modal('hide');
			  			self.refresh();
			  		}
		  		});
		  	});

		  	$('.schedule-details [data-action="delete-schedule"]').on('click', function() {
		  		$.ajax({
		  			type: 'DELETE',
		  			url: '/schedules/' + s.name + '/',
		  			success: function() {
		  				$('.schedule-details').modal('hide');
		  				self.refresh();
		  			}
		  		});
		  	});

		  	// Unbind from buttons on modal close
		  	$('.schedule-details').on('hidden.bs.modal', function() {
		  		console.log('unbinding...');
		  		$('.schedule-details').off('hidden.bs.modal');
		  		$('.schedule-details [data-action="save-schedule"]').off('click');
		  		$('.schedule-details [data-action="delete-schedule"]').off('click');
		  	});

		  	// Show the modal now
		  	$('.schedule-details').modal('show');
			},

			createRow: function(s) {
				var self = this,
						$row = $('<tr><td>' + s.name +
			               '</td><td>' + s.cron +
			               '</td><td>' + this.getOutletString(s) +
			               '</td><td>' + s.enabled +
			               '</td><td>' + s.next +
			               '</td></tr>');

				$row.on('click', function() {
					self.createModal(s);
				});

				return $row;
			},

			refresh: function() {
				var self = this;
				$.get('/schedules/', function(data) {
					var $schedules = $('table.schedules tbody');
					$schedules.empty();
					for (i = 0; i < data.length; i++) {
						$schedules.append(self.createRow(data[i]));
					}
				});
			},

			createNew: function() {
				this.createModal({
					name: 'New job',
					cron: '0 12 * * *',
					enabled: true,
					outlets: {
						0: {value: null},
						1: {value: null},
						2: {value: null},
						3: {value: null}
					}
				}, true);
			}
		};



		/*************************************************************************
		 *
		 * DOM ready entry point
		 *
		 *************************************************************************/
		$(document).ready(function() {
			var switches = new Switches();
			switches.refresh();

			// Set up click listeners on each
			$('.outlet').on('click', function(e) {
				var e = $(e.currentTarget);
				switches.set(e, e.data('value') === ON ? OFF : ON);
			});

			$('.switch.all-on, .switch.all-off').on('click', function(e) {
				var val = $(e.currentTarget).hasClass('all-on') ? ON : OFF;
				switches.setAll(val);
			});


			var schedules = new Schedules();
			schedules.refresh();

			$('.schedule-add').on('click', function() {
				schedules.createNew();
			});
		});
	</script>

	<div class="container">
		<h1>Outlets</h1>
		<div class="row outlet-control">
			<button class="outlet btn btn-large" data-id="0">0</button>
			<button class="outlet btn btn-large" data-id="2">2</button>
		</div>
		<div class="row outlet-control">
			<button class="outlet btn btn-large" data-id="1">1</button>
			<button class="outlet btn btn-large" data-id="3">3</button>
		</div>
		<div class="row outlet-control">
			<button type="button" class="btn btn-primary switch all-on">All on</button>
			<button type="button" class="btn switch all-off">All off</button>
		</div>
	</div>

	<div class="container">
		<h1>Schedule</h1>
		<table class="schedules table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Cron</th>
					<th>Outlets</th>
					<th>Enabled</th>
					<th>Next</th>
				</tr>
			</thead>
			<tbody />
		</table>
		<div class="schedule-add">
			<i class="glyphicon glyphicon-plus"></i>
			<label>Add new schedule</label>
		</div>
		<div class="schedule-details modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          	<h4 class="modal-title">Modal title</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="schedule-name" class="col-lg-2 control-label">Name</label>
								<div class="col-lg-10">
									<input id="schedule-name" type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label for="schedule-cron" class="col-lg-2 control-label">Cron</label>
								<div class="col-lg-10">
									<input id="schedule-cron" type="text" class="form-control" />
								</div>
							</div>
							<div class="form-group">
								<label for="schedule-enabled" class="col-lg-2 control-label">Enabled</label>
								<div class="col-lg-10">
									<input id="schedule-enabled" type="checkbox" class="form-control" /> 
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 control-label">Outlets</label>
								<div class="col-lg-10">
									<div class="row schedule-outlet">
									  <label for="schedule-outlet-0">0</label>
										<select id="schedule-outlet-0" class="form-control">
											<option value="">No change</option>
											<option value="0">Turn on</option>
											<option value="1">Turn off</option>
										</select>
										<label for="schedule-outlet-2">2</label>
										<select id="schedule-outlet-2" class="form-control">
											<option value="">No change</option>
											<option value="0">Turn on</option>
											<option value="1">Turn off</option>
										</select>
									</div>
									<div class="row schedule-outlet">
										<label for="schedule-outlet-1">1</label>
										<select id="schedule-outlet-1" class="form-control">
											<option value="">No change</option>
											<option value="0">Turn on</option>
											<option value="1">Turn off</option>
										</select>
										<label for="schedule-outlet-3">3</label>
										<select id="schedule-outlet-3" class="form-control">
											<option value="">No change</option>
											<option value="0">Turn on</option>
											<option value="1">Turn off</option>
										</select>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-warning pull-left" data-action="delete-schedule">Delete</button>
	          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	          <button type="button" class="btn btn-primary" data-action="save-schedule">Save changes</button>
	        </div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>